.index-table, .course-content{
    padding: 2em 20px 2em 20px;
    /* border: 1px solid; */
}
.course-content{
    font-size: 20px;
    
}
.index-table{
    width: 30%;
}
.index-table-content{
    height: max-content;
    background-color: #0000002d;
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    font-size: 18px;
}

.main-topic{
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
}
.explain-topic{
    color: #1c1c2ab3;
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 30px;
}

.subtopic{
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 12px;
    font-weight: bold;
}

.topicName{
    padding: 2px;
    padding-left: 20px;
}
.lessonName{
    background-color: #0000002d;
    padding: 2px 2px 2px 10px;
}

.topicName a{
    text-decoration: none;
    color: #801515;
}
.topicName:hover{
    background-color: #b2cbe252;
}

.active, .active:hover{
    background-color: #b2cbe2;
}

/* @media screen and (max-width:1024px) {
    .index-table{
        display: none;

    }
} */

#clikingbtn{
    display: none;
}
.table-content-toggle-btn{
    display: none;
    justify-content: space-between;
    padding: 10px 5px;
    box-shadow: 0px 1 px 2px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.code{
    background: #eeeeee;
    background-color: #282739;
    border: 1px solid #cccccc;
    padding: 10px 15px;
    color: green;
    border-radius: 10px;
    /* color: white; */
    overflow-x: auto;

}

@media screen and (max-width:1024px) {
    .newLessonIndex{
        /* display: none; */
        position: absolute;
        top: 80px;
        /* at device width top: 115px */
        left: -12px;
        width: 40%;
        /* height: 100vh; */
    }
    .table-content-toggle-btn{
        display: inline;
    }
    .index-table-content{
        border-radius: 0%; 
        padding-top: 0px !important;
    }
    #clikingbtn{
        /* display: block; */
        width: 50px;
        height: 30px;
    }
}
@media screen and (max-width: 600px) {
    .newLessonIndex{
        
        width: 50%;
    }
   .course-content{
    padding: 0;
    margin-top: 40px;
   }
}
@media screen and (max-width:435px){
    .newLessonIndex{
        top: 115px;
        width: 75%;
    }
   
}
@media screen and (max-width:328px){
    .newLessonIndex{
        top: 150px;
        width: 70%;
    }
   
}


    